PORT=3000
DATA_DIR=./data
SITE_ORIGIN=https://abc.com,https://abc.com.tw
HOST_ORIGIN=https://abcnexacaptcha.com,https://abcnexacaptcha.com.tw
CPU_RESOURCE_LIMIT=250m
RAM_RESOURCE_LIMIT_MB=110
STORAGE_RESOURCE_LIMIT_GB=10
